*{
    padding: 0;
    margin: 0;
    /* box-sizing:border-box; */
}
body{
    background-color: antiquewhite;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(255, 158, 12);
}
.div1 .text .falafel{
    font-size: 47px;
    font-family:monospace;
    font-style: oblique;
    font-synthesis-weight: 50px;
    color: aqua;
}

.div1 .text .over{
    font-size: 39px;
    font-weight:bolder;
    font-synthesis-weight: 55px;
    color:brown;
}


    

.div1 img{
    width: 50%;
    height: 50%;
    border-radius: 20%;
    /* width: 200px; */
    /* max-width: 500px; */
    /* max-height: 550px; */
    /* border-radius: 15%; */
    display: flex;
    /* overflow: hidden; */
    align-items: end;
    justify-content: end;
    
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 9% 3% 9% 3%;
    text-align: center;
    background-color: beige;
}
.items img{
    border-radius: 19px;
    padding: 5px 0px;
}
.items h4{
    padding: 5px 0px;
}

.sec3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:aquamarine;

}

.s31{
    padding: 7% 5% 10% 9%;
}
.s31 img{
    border-radius: 35%;
}
.s32{
    padding: 7% 5% 10% 1%;
    width: 50%;
}
.sec4{
    text-align: center;
    color: rgb(255, 102, 0);
}
.sec5{
    display: flex;
    align-items: center;
    justify-content: space-around; 

}
.sec5 img{
    width: 45%;
    height: 75%;
    padding: 1%;
    border-radius: 35%;
}

.sec5 .text h3{
    /* padding: 10% -10% 10% -11%; */
    text-align: center;
    color: blue;
    
}

.sec5 .text{
    /* padding: 10% -10% 10% -11%; */
    text-align: center;
    color: rgb(189, 122, 51);
    
}

.sec6{
    display: flex;
    justify-content: flex-start;
    background-color: yellow;
    padding: 10%;
    overflow: hidden;
    /* margin: 20%; */
}



.sss{
    /* justify-content: center; 
    /* padding: 10%; */
    /* align-items: center; */
    background-color: aqua;
}
.wsa{
    padding: 5%;
    background-color: aqua;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.wsa h3{
    color: rgb(255, 102, 0);
}
.ssa{
    padding: 5%;
    background-color: aqua;
}

.div1 .text button{
    --glow-color: rgb(236, 229, 20);
    /* --glow-color: rgb(217, 176, 255); */

    
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 255);
    border: .25em solid var(--glow-color);
    padding: 0.5em 1.5em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .div1 .text button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 80%;
    width: 90%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .div1 .text button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }